{% block head %}
<link rel="stylesheet" href="{{asset('assets/styles/app.css')}}">
{% endblock %}

{% block body %}
{% include 'base/nav.html.twig' %}
<div class="articleGrid">
{% for articles in article %}
    <div class="article">
            <h2 class="articleTitle">{{articles.title}}</h2>  
            <img src="{{ vich_uploader_asset(articles, 'imageFile') }}" class="articleImg"> 
            <h3 class="articleAuthor">{{articles.author}}</h3>
            <p class="articleContent">{{articles.content|slice(0,30)}}</p>    
            <div class ="managementBtns">   
            <a href="{{path('each_article', {"id" : articles.id}) }}">Voir</a>
            <a href="{{path('delete_article', { id: articles.id}) }}">Supprimer</a>
            <a href="{{path('edit_article', { id: articles.id}) }}">Modifier</a>
            </div> 
    </div>
{% endfor %}
{% endblock %}